<div class="background centerRow">
    <div class="register max-width centerRowV card">
        <div class="chat-text mElement">
            <h1>Chat with {{ otherUser }}</h1>
        </div>
        <div class="breadcrumb mElement">
            <a class="link" (click)="friends()">
                &lt; Back
            </a>
            <label class="breadcrumb-divider">
                &nbsp;|&nbsp;
            </label>
            <a class="link" (click)="profile()">
                Profile
            </a>
            <label class="breadcrumb-divider">
                &nbsp;|&nbsp;
            </label>
            <a class="link removeFriend" (click)="removeFriend()">
                <span>Remove Friend</span>
            </a>
        </div>

        <div class="mElement">
            <fieldset class="pContainerS" >
                <legend>Chat</legend>
                <div #messagesDiv id="messagesDiv" class="chat">
                    <!-- contents added by renderer-->
                </div>
            </fieldset>
        </div>
        <div class="chat-new-message mElementM">
            <div class="mElement">
                <input class="input-message input" placeholder="New Message" required id="input" type="text" name="input" [(ngModel)]="input">
            </div>
            <div class="mElementM centerRow">
                <button class="button-send button" (click)="send()">Send</button>
            </div>
        </div>
    </div>
</div>