<div class="background centerRow">
    <div class="register max-width centerRowV card">
        <div class="chat-text mElement">
            <h1>Chat with Jerry</h1>
        </div>
        <div class="breadcrumb mElement">
            <a class="link" href="friendlist.html">
                &lt; Back
            </a>
            <label class="breadcrumb-divider">
                &nbsp;|&nbsp;
            </label>
            <a class="link" href="profile.html">
                Profile
            </a>
            <label class="breadcrumb-divider">
                &nbsp;|&nbsp;
            </label>
            <a class="link removeFriend" href="friendlist.html">
                <span>Remove Friend</span>
            </a>
        </div>

        <div class="mElement">
            <fieldset class="pContainerS" >
                <legend>Chat</legend>
                <div id="chat">
                    <!-- contents added by chat.js-->
                </div>
            </fieldset>
        </div>
        <div class="chat-new-message mElementM">
            <div class="mElement">
                <input class="input-message input" placeholder="New Message" required>
            </div>
            <div class="mElementM centerRow">
                <button class="button-send button">Send</button>
            </div>
        </div>
    </div>
</div>