<div class="background centerRow">
    <div class="register max-width centerRowV card">
        <form method="GET" action="friendlist.html" id="registerForm" class="centerRowV" name="registerForm" #registerForm="ngForm">
            <div class="register-image">
                <img src="./assets/images/user.png" alt="user" class="image">
            </div>

            <div class="register-text mElementM">
                <h1>
                    Register yourself
                </h1>
            </div>
            <fieldset class="register-inputs pContainerS mElement">
                <legend class="register-inputs-text">Register</legend>
                <div class="name-box mElementM">
                    <div class="mElement">
                        <label class="label-name" for="name">Username </label>
                    </div>
                    <div class="mElement">
                        <input [ngClass]="usernameOk ? 'input' : 'input input-error'" id="username" type="text" placeholder="Username" name="username" required [(ngModel)]="username" (keyup)="checkUsername()">
                    </div>
                    <div class="mElement hasSmall">
                        <small class="error-message">{{ userError }}</small>
                    </div>
                </div>
                <div class="pass-box mElementM">
                    <div class="mElement">
                        <label class="label-pass" for="password">Password </label>
                    </div>
                    <div class="mElement">
                        <input [ngClass]="password1Ok ? 'input' : 'input input-error'" id="password1" type="password" placeholder="Password" name="password1" required [(ngModel)]="password1" (keyup)="checkPassword1()">
                    </div>
                    <div class="mElement hasSmall">
                        <small class="error-message">{{ passError1 }}</small>
                    </div>
                </div>
                <div class="pass-repeat-box mElementM">
                    <div class="mElement">
                        <label class="label-pass-repeat" for="password-repeat">Confirm Password </label>
                    </div>
                    <div class="mElement">
                        <input [ngClass]="password2Ok ? 'input' : 'input input-error'" id="password2" type="password" placeholder="Confirm Password" name="password2" required [(ngModel)]="password2" (keyup)="checkPassword2()">
                    </div>
                    <div class="mElement hasSmall">
                        <small class="error-message">{{ passError2 }}</small>
                    </div>
                </div>
            </fieldset>

            <div class="button-box mElement pContainerS">
                <a href="login.html">
                    <button class="button-cancel button mElement">Cancel</button>
                </a>
                <button class="button-create button mElement" [disabled]="!usernameOk || !password1Ok || !password2Ok" (click)="register()">Create Account</button>
            </div>
        </form>
    </div>   
</div>