<div class="background centerRow">
    <div class="max-width centerRowV card">
        <img src="assets/images/logout.png" class="image">
        <div class="mElementM">
            <h1>
                Logged out...
            </h1>
        </div>
        <div class="mElement">
            <div class="mElement">
                <label>See u!</label>
            </div>
            <div class="mElement">
                <a (click)="login()" class="link">Login again</a>
            </div>
        </div>
    </div>
</div>