<div class="background centerRow">
    <div class="max-width centerRowV card">
        <img src="assets/images/chat.png" class="image">
        <div class="mElementM">
            <h1>
                Please sign in
            </h1>
        </div>
        
        <div class="mElement">
            <fieldset class="login-inputs pContainerS">
                <legend>Login</legend>
                <div class="mElementM">
                    <div class="mElement">
                        <label>Username</label>
                    </div>
                    <div class="mElement">
                        <input type="text" placeholder="Username" class="input" required>
                    </div>
                </div>
                <div class="mElementM">
                    <div class="mElement">
                        <label>Password</label>
                    </div>
                    <div class="mElement">
                        <input type="password" placeholder="Password" class="input" required>
                    </div>
                </div>
            </fieldset>
        </div>

        <div class="button-box mElement pContainerS">
            <a href="friendlist.html">
                <button type="button" class="button mElement">
                    Login
                </button>
            </a>
            <a href="register.html">
                <button type="button" class="button mElement">
                    Register
                </button>
            </a>
        </div>
    </div>
</div>