<div class="background centerRow">
    <div class="max-width centerRowV card">
        <img src="assets/images/chat.png" class="image">
        <div class="mElementM">
            <h1>
                Please sign in
            </h1>
        </div>
        
        <div class="mElement">
            <fieldset class="login-inputs pContainerS">
                <legend>Login</legend>
                <div class="mElementM">
                    <div class="mElement">
                        <label>Username</label>
                    </div>
                    <div class="mElement">
                        <input name="username" type="text" placeholder="Username" class="input" required [(ngModel)]="username">
                    </div>
                </div>
                <div class="mElementM">
                    <div class="mElement">
                        <label>Password</label>
                    </div>
                    <div class="mElement">
                        <input name="password" type="password" placeholder="Password" class="input" required [(ngModel)]="password">
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="centerRow"><small class="error-message">{{ error }}</small></div>

        <div class="button-box mElement pContainerS">
            <button type="button" class="button mElement" (click)="login()">
                Login
            </button>
            <button type="button" class="button mElement" (click)="changeRoute('/register')">
                Register
            </button>
        </div>
    </div>
</div>