<div class="background centerRow">
    <div class="register max-width centerRowV card">
        <div class="mElement">
            <h1>Friends of {{ user.username }}</h1>
        </div>
        <div class="breadcrumb mElement">
            <a class="link" (click)="changeRoute('/logout')">&lt; Logout</a>
            <label class="breadcrumb-divider">&nbsp;|&nbsp;</label>
            <a class="link" (click)="changeRoute('/settings')">Settings</a>
        </div>
        <hr class="friendlist-divider ">
        <div class="mElementM">
            <section>
                <ul>
                    <li *ngFor="let friend of friends">
                        <a class="link" (click)="switchChat('/chat', friend.username)">{{ friend.username }}</a>
                        <label class="notification-count">{{ getUnreadCountOf(friend.username) }}</label>
                    </li>
                </ul>
                <div *ngIf="friends.length == 0">No friends yet</div>
            </section>
        </div>
        <hr class="friendlist-divider">
        <div class="mElementM">
            <section>
                <div class="mElement">
                    <h2>New Requests</h2>
                </div>
                <div class="centerRow">
                    <ol *ngIf="friendReqs.length > 0">
                        <li *ngFor="let req of friendReqs">
                            <a class="link">Friend request from {{ req.username }}</a>
                            <div class="centerCol mElement">
                                <button class="button-small centerRow" (click)="acceptFriend(req.username)">Accept</button>
                                <div style="width: 10px"></div>
                                <button class="button-small centerRow" (click)="dismissFriend(req.username)">Decline</button>
                            </div>
                        </li>
                    </ol>
                    <div *ngIf="friendReqs.length == 0">No friend requests</div>
                </div>
            </section>
        </div>
        <hr class="friendlist-divider">
        <div class="mElementM">
            <div class="mElement">
                <small class="error-message mElement">{{ friendError }}</small>
                <div class="mElement">
                    <input type="name" placeholder="Name" class="input" required [(ngModel)]="searchValue" (keyup)="searchFriend()"/>
                    <div class="suggested-friends" *ngIf="searchList.length > 0">
                        <div *ngFor="let friend of searchList" class="mElement suggested-friends-entry" (click)="autoComplete(friend)">{{ friend }}</div>
                    </div>
                </div>
                <div class="mElementM">
                    <button class="button" (click)="addFriend()">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>