<div class="background centerRow">
    <div class="register max-width centerRowV card">
        <div class="mElement">
            <h1>Friends</h1>
        </div>
        <div class="breadcrumb mElement">
            <a [routerLink]="['/logout']" class="link">&lt; Logout</a>
            <label class="breadcrumb-divider">&nbsp;|&nbsp;</label>
            <a [routerLink]="['/settings']" class="link">Settings</a>
        </div>
        <hr class="friendlist-divider ">
        <div class="mElementM">
            <section>
                <ul>
                    <li>
                        <a href="chat.html" class="link">Tom</a>
                        <label class="notification-count">3</label>
                    </li>
                    <li>
                        <a href="chat.html" class="link">Marvin</a>
                        <label class="notification-count">1</label>
                    </li>
                    <li>
                        <a href="chat.html" class="link">Tick</a>
                        <label class="notification-count"></label>
                    </li>
                    <li>
                        <a href="chat.html" class="link">Trick</a>
                        <label class="notification-count"></label>
                    </li>
                </ul>
            </section>
        </div>
        <hr class="friendlist-divider">
        <div class="mElementM">
            <section>
                <div class="mElement">
                    <h2>New Requests</h2>
                </div>
                <div>
                    <ol>
                        <li><a href="http://github.com/PraktikumWEP" class="link">Friend request from Track</a></li>
                    </ol>
                </div>
            </section>
        </div>
        <hr class="friendlist-divider">
        <div class="mElementM">
            <div class="mElement">
                <div class="mElement">
                    <input type="name" placeholder="Name" class="input" required [(ngModel)]="searchValue" (keyup)="searchFriend()"/>
                    <div class="suggested-friends">
                        <div *ngIf="searchList.length > 0">
                            <div *ngFor="let friend of searchList" class="mElement suggested-friends-entry" ()>{{ friend }}</div>
                        </div>
                    </div>
                </div>
                <div class="mElementM">
                    <button class="button">
                        Add
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>