<div class="background centerRow">
    <div class="max-width centerRowV card">
        <div class="mElement">
            <img src="assets/images/profile.png" class="image">
        </div>
        <div class="mElement">
            <h1>Profile of {{ otherUser }}</h1>
        </div>
        <div class="breadcrumb mElement">
            <a (click)="chat()" class="link">&lt; Back to Chat</a>
            <label class="breadcrumb-divider">&nbsp;|&nbsp;</label>
            <a class="link removeFriend" (click)="removeFriend()">Remove Friend</a>
        </div>
        <div class="mElement" *ngIf="user.description.length > 0">
            <p class="paragraph">{{ user.description }}</p>
        </div>
        <div class="mElement" *ngIf="user.coffeeOrTea.length > 0">
            <div class="mElement">
                <label style="font-weight: bold">Coffee or Tea?</label>
                <div class="mElement">
                    <label>&emsp;&emsp;{{ user.coffeeOrTea }}</label>
                </div>
            </div>
            <div class="mElement" *ngIf="user.firstName.length > 0">
                <label style="font-weight: bold">Name</label>
                <div class="mElement">
                    <label>&emsp;&emsp;{{ user.firstName }} {{ user.lastName }}</label>
                </div>
            </div>
        </div>
    </div>
</div>