<div class="background centerRow">
    <div class="max-width centerRowV card">
        <div class="mElement">
            <img src="assets/images/profile.png" class="image">
        </div>
        <div class="mElement">
            <h1>Profile of Tom</h1>
        </div>
        <div class="breadcrumb mElement">
            <a href="chat.html" class="link">&lt; Back to Chat</a>
            <label class="breadcrumb-divider">&nbsp;|&nbsp;</label>
            <a href="friendlist.html" class="link removeFriend">Remove Friend</a>
        </div>
        <div class="mElement">
            <p class="paragraph">
                Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.   

    Duis autem vel eum iriure dolor in hendrerit 
            </p>
        </div>
        <div class="mElement">
            <div class="mElement">
                <label style="font-weight: bold">Coffee or Tea?</label>
                <div class="mElement">
                    <label>&emsp;&emsp;Tea</label>
                </div>
            </div>
            <div class="mElement">
                <label style="font-weight: bold">Name</label>
                <div class="mElement">
                    <label>&emsp;&emsp;Thomas</label>
                </div>
            </div>
        </div>
    </div>
</div>