/* variables for colors */
/* variables for spacing */
/* general style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  color: #FFFFFF;
  font-size: 14;
  padding: 0;
  margin: 0;
  /* scrollbar firefox */
  font-family: "Poppins", "Roboto", "-apple-system", "BlinkMacSystemFont", '"Segoe UI"', '"Helvetica Neue"', "Arial", "sans-serif", '"Apple Color Emoji"', '"Segoe UI Emoji"', '"Segoe UI Symbol"';
}
@-moz-document url-prefix() {
  html,
body {
    scrollbar-color: #4f4f4f #1B1B27;
    scrollbar-width: thin;
  }
}

h1 {
  font-size: 2.125rem;
  text-align: center;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
}

hr {
  color: #000000;
  display: block;
  width: 100%;
  border: dashed 1px;
}

fieldset {
  border-radius: 10px;
  border: 2px solid #000000;
}

/* classes */
.background {
  min-height: 100vh;
  width: 100%;
  background-color: #1B1B27;
  padding: 1.5rem;
}

.max-width {
  max-width: 900px;
}

.centerRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centerRowV {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centerRowH {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.centerCol {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mElement {
  margin: 0.5rem;
}

.mElementM {
  margin: 2rem;
}

.mElementL {
  margin: 3rem;
}

.pContainerS {
  padding: 1.5rem;
}

.pContainerM {
  padding: 2.5rem;
}

.pContainerL {
  padding: 4.25rem;
}

/* scrollbar webkit */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #4f4f4f;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: #383838;
}

::-webkit-scrollbar-thumb:active {
  background: #262626;
}

::-webkit-scrollbar-track {
  background: #d1d1d1;
  border: 0px none #ffffff;
  border-radius: 50px;
}

::-webkit-scrollbar-track:hover {
  background: #d1d1d1;
}

::-webkit-scrollbar-track:active {
  background: #d1d1d1;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

/* media queries */
@media (max-width: 550px) {
  .background {
    padding: 0;
  }
  .pContainerS {
    padding: 0.66rem;
  }
}
/* fonts */
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Thin.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}/*# sourceMappingURL=styles.css.map */